<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EM ATENDIMENTO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EM ATENDIMENTO</ion-title>
    </ion-toolbar>
  </ion-header>


  <section class="container">
    <app-agent-tool></app-agent-tool>

   

    <ion-grid class="table-em-atendimento">

      <ion-row class="table-contador">
        <ion-col> <span>Em atendimento</span> <span>{{ QuatidadeEmAtendimento }}</span> </ion-col>
        <ion-col class="cont-style"> <span>SG</span> <span class="SG">{{ QtdSG_EmAtendimento }}</span> </ion-col>
        <ion-col class="cont-style"> <span>SE</span> <span class="SE">{{ QtdSE_EmAtendimento }}</span> </ion-col>
        <ion-col class="cont-style"> <span>SP</span> <span class="SP">{{ QtdSP_EmAtendimento }}</span> </ion-col>
      </ion-row>

      <ion-row class="table-title-row">
        <ion-col size="2">Senha</ion-col>
        <ion-col size="1">Tipo</ion-col>
        <ion-col>Nome do Paciente</ion-col>
        <ion-col size="1">Guichê</ion-col>
        <ion-col>Estado</ion-col>
      </ion-row>

      <ion-row class="ion-row-values" *ngFor="let item of listaEmAtendimentoCompleta; let i = index">

        <ng-container *ngIf="item; else linhaVazia">
          <ion-col size="2">{{ item.senha }}</ion-col>
          <ion-col size="1"><span class="tipo-senha" [ngClass]="item.tipoSenha">{{ item.tipoSenha}}</span></ion-col>
          <ion-col>{{ item.nome }}</ion-col>
          <ion-col size="1">{{ i+1 }}</ion-col>
          <ion-col class="ion-col-status"> <ion-icon class="icon-ematendimento" name="radio-button-on-outline"></ion-icon> Em atendimento</ion-col>
        </ng-container>

        <ng-template #linhaVazia>
          <ion-col size="2">&nbsp;</ion-col>
          <ion-col size="1">&nbsp;</ion-col>
          <ion-col>&nbsp;</ion-col>
          <ion-col size="1">{{ i+1 }}</ion-col>
          <ion-col class="ion-col-status"><ion-icon class="icon-livre" name="radio-button-on-outline"></ion-icon>Livre</ion-col>
        </ng-template>

      </ion-row>


    </ion-grid>

  </section>


  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>